<div class="container">
  <h2 id="title">Ember Addon for Cedar</h2>
  <div>{{link-to "Common Chart Types" "charts.chart" "bar" }}
    | {{link-to "Playground" "playground"}}
    {{!-- for now commenting this out until we have a better transform example --}}
    {{!-- | {{link-to "Transform Query Results" "transform"}} --}}
    | {{link-to "Handling Errors" "error-handling"}}</div>
  {{outlet}}
</div>
