<h2 id="title">Ember Addon for Cedar</h2>
<div>Charts: {{link-to "Bar" "charts.chart" "bar" (query-params styleOverride=null) }} | {{link-to "Horizontal Bar" "charts.chart" "bar-horizontal"}} |
{{link-to "Pie" "charts.chart" "pie" (query-params styleOverride=null) }} | {{link-to "Bar with Style Override" "charts.chart" "bar" (query-params styleOverride='yes') }} |
{{link-to "Playground" "charts.playground"}} |</div>

<br>

{{outlet}}
