<h3>{{model.title}}</h3>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-inline">
    {{#each chartTypes as |chartType|}}
      <li>{{link-to chartType.label "charts.chart" chartType.slug }}</li>
    {{/each}}
    </ul>
  </div>
  <div class="col-xs-12">
    {{cedar-chart
      type=model.definition.type
      datasets=model.definition.datasets
      series=model.definition.series
      overrides=model.definition.overrides
      legend=model.definition.legend
      style=model.definition.style
      onClick=(action 'logEvent')
      onMouseover=(action 'logEvent')
      onMouseout=(action 'logEvent')
      onUpdateStart=(action 'logEvent')
      onUpdateEnd=(action 'logEvent')
    }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="clearfix">
      <div class="pull-left">
        <h4>Chart Definition JSON</h4>
      </div>
      <div class="pull-right">
        {{#link-to "playground" (query-params spec=model.slug) class="btn btn-primary"}}Edit{{/link-to}}
      </div>
    </div>
    <pre><code>{{definitionString}}</code></pre>
    <!-- hiding this until v1 supports events and maybe renderers -->
    <!--
    <h4>Options</h4>
    <p>Renderer: <select onchange={{action "selectRenderer" value="target.value"}}>
    {{#each renderers as |renderer|}}
      <option value={{renderer}} selected={{eq renderer selectedRenderer}}>{{renderer}}</option>
    {{/each}}
    </select></p>
    <h4>Events</h4>
    <p>{{input type="checkbox" checked=shouldLogEvents}} Log <a href="http://esri.github.io/cedar/api/on.html" target="_blank">events</a> below as you interact with the chart.</p>
    {{textarea class="form-control event-log" value=eventLog}}
    -->
  </div>
</div>
