<h3>{{model.title}}</h3>
<div class="row">
  <div class="col-md-12 col-lg-8">
    {{
      cedar-chart
      type=model.type
      dataset=model.dataset
      options=chartOptions
      override=model.override
      onClick=(action 'logEvent')
      onMouseover=(action 'logEvent')
      onMouseout=(action 'logEvent')
      onUpdateStart=(action 'logEvent')
      onUpdateEnd=(action 'logEvent')
      datasets=model.datasets
      series=model.series
      overrides=model.overrides
    }}
  </div>
  <div class="col-md-12 col-lg-4">
    <h4>Options</h4>
    <p>Renderer: <select onchange={{action "selectRenderer" value="target.value"}}>
    {{#each renderers as |renderer|}}
      <option value={{renderer}} selected={{eq renderer selectedRenderer}}>{{renderer}}</option>
    {{/each}}
    </select></p>
    <h4>Events</h4>
    <p>{{input type="checkbox" checked=shouldLogEvents}} Log <a href="http://esri.github.io/cedar/api/on.html" target="_blank">events</a> below as you interact with the chart.</p>
    {{textarea class="form-control event-log" value=eventLog}}
  </div>
</div>
