<h3>{{model.title}}</h3>
{{cedar-chart specification=model.specification options=chartOptions}}
{{log "model.specification:" model.specification}}

<br>

<h4>Options</h4>
<p>Renderer: <select onchange={{action "selectRenderer" value="target.value"}}>
{{#each renderers as |renderer|}}
  <option value={{renderer}} selected={{eq renderer selectedRenderer}}>{{renderer}}</option>
{{/each}}
</select></p>
