<h3>Handling Cedar Errors</h3>
<p>Example of an error returned when fetching data:</p>
<pre>\{{cedar-chart
  type=model.type
  datasets=invalidUrlDataset
  series=model.series
  onError=(action 'showError')
}}</pre>
<div class="alert alert-danger">{{errorMessage}}</div>
{{cedar-chart
  type=model.type
  datasets=invalidUrlDataset
  series=model.series
  onError=(action 'showError')
}}
<p>A chart component with invalid attributes returns a message like this:</p>
<pre>\{{cedar-chart
  specification=42
  datasets=model.datasets
  series=model.series
  invalidSpecMessage="invalidSpecMessage is no longer used and should show a deprecation"
  onError=(action 'showError2')
}}</pre>
<div class="alert alert-danger">{{errorMessage2}}</div>
{{cedar-chart
  specification=42
  datasets=model.datasets
  series=model.series
  invalidSpecMessage="invalidSpecMessage is no longer used and should show a deprecation"
  onError=(action 'showError2')
}}
